<footer class="w-full p-8 bg-slate-100 absolute bottom-0 left-0 right-0">
    <p class="block font-sans text-base antialiased font-normal leading-relaxed text-center text-blue-gray-900">
        © 2008-2024 Shri Swami Samarth Kinwat
    </p>
</footer>